build/*
cmake-build-debug
CMakeCache.txt
cmake_install.cmake
CPackSourceConfig.cmake
Makefile
CPackConfig.cmake
CMakeFiles
Voxualize
ds9.arr
src/cmake/
protos/helloworld_grpc_web_pb.js
protos/helloworld_pb.js